/* .area .header {
    margin-bottom: 0;
}
.area .slider {
    position: relative;
}

.area .slider .item .slideText{
    font-size: 70px;
    line-height: 72px;
    font-weight: lighter;
    position: absolute;
    color: #fff;
    left: 45%;
    top: 20%;
    transform: translate(-5%, -80%);
}

.area .slider .slider .prev,
.area .slider .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.area .slider .slider-dots {
    text-align: center;
}
.area .slider .slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.area .slider .active,
.area .slider .slider-dots_item:hover {
    background-color: #aaa;
} */

/* --------------  area ----------------  */

.vesterborg,
.map,
.restaurants,
.nature, 
.drive,
.charm,
.road {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}
.vesterborg .ico_vesterborg {
    background: url(/img/area_vesterborg.png);
}
.map .ico_map {
    background: url(/img/area_map.png);
    background-size: contain;
    width: 431px;
    height: 429px;
}
.restaurants .ico_restaurants,
.nature .ico_nature,
.drive .ico_drive,
.charm .ico_charm,
.road .ico_road {
    background-size: cover;
    background-repeat: no-repeat;
}
.restaurants .ico_restaurants {
    background: url(/img/area_restaraunt.png);
}
.nature .ico_nature {
    background: url(/img/araea_nature.png);
}
.drive .ico_drive {
    background: url(/img/area_drive.png);
}
.charm .ico_charm {
    background: url(/img/area_charm.png);
}
.road .ico_road {
    background: url(/img/about_road.png);
}
.vesterborg .ico_vesterborg, 
.restaurants .ico_restaurants,
.nature .ico_nature,
.drive .ico_drive,
.charm .ico_charm,
.road .ico_road {
    width: 546px;
    height: 478px;
}

.vesterborg .vesterborg_text,
.restaurants .restaurants_text,
.drive .drive_text,
.road .road_text {
    padding-left: 140px;
}
.map .map_text,
.nature .nature_text,
.charm .charm_text {
    padding-right: 140px;
}
.vesterborg .vesterborg_text, 
.restaurants .restaurants_text,
.nature .nature_text,
.drive .drive_text,
.charm .charm_text,
.road .road_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5B6460;
    font-weight: lighter;
}
.map .map_text h3
{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #5B6460;
}
.vesterborg .vesterborg_text h3,
.restaurants .restaurants_text h3,
.nature .nature_text h3,
.drive .drive_text h3,
.charm .charm_text h3 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: lighter;
}
.vesterborg .vesterborg_text p.italic,
.road .road_text p.italic {
    margin-bottom: 50px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.restaurants .restaurants_text p.italic2,
.nature .nature_text p.italic2,
.drive .drive_text p.italic2,
.charm .charm_text  p.italic2{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
.vesterborg .vesterborg_text p a,
.restaurants .restaurants_text p a,
.nature .nature_text p a,
.drive .drive_text p a,
.charm .charm_text p a {
    padding-right: 15px;
    color: #5B6460;
    font-style: italic;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #5B6460;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* --------------  END outside ----------------  */
.area_map {
    height: 510px;
}
.area_map iframe {
    width: 100%;
    height: 100%;
}



/*---------------------------- About Us--------------------------*/
.about .some_text {
    width: 50%;
    margin: 0 auto;
}
.about .some_text .h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #5B6460;
}

.about .wrapper_about {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 100px;
    column-gap: 20px;
    row-gap: 20px;
    width: 95%;
    margin: 150px auto;
}
.about .wrapper_about .box1,
.about .wrapper_about .box2,
.about .wrapper_about .box3,
.about .wrapper_about .box5 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 387px;
}
.about .wrapper_about .box1 {
    background-image: url('/img/road1.png');
}
.about .wrapper_about .box2 {
    background-image: url('/img/road2.png');
}
.about .wrapper_about .box3 {
    background-image: url('/img/road3.png');
}
.about .wrapper_about .box5 {
    background-image: url('/img/road4.png');
}
.wrapper_about .box2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.wrapper_about .box4 {
    background-color: #E9ECE0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_about .box4 p {
    width: 80%;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}
.about_form {
    text-align: end;
}
.about_form input {
    margin-bottom: 25px;
    border: 1px solid #5B6460;
}
.about_form input[type="submit"] {
    margin-top: 30px;
    background: #5B6460;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 25px 80px;
 }


 .about_form input[type="text"] {
     width: 320px;
     height: 50px;
     margin-right: 10px;
 }
 .about_form input[type="email"] {
    width: 660px;
    height: 50px;
}
.about_form textarea {
    width: 660px;
    height: 125px;
}

input::placeholder {
     color: #828282;
 }

 .about_form input::placeholder, 
 textarea {
      padding: 20px;
      font-size: 18px;
      margin-bottom: 25px;
      font-family: 'Open Sans', sans-serif;
  }
