* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    
}
body {
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    line-height: 30px;
    color: #000;
    max-width: 1440px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}
.ico {
    display: block;
}
.nav a {
    text-decoration: none;
    color: #000000;
}
.ico {
    display: block;
}
.wrapper {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    margin-bottom: 120px;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header .nav .burger-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .ico-logo_header {
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
    width: 70px;
    height: 65px;
    margin-left: 150px
}
.nav .button_header {
    margin-right: 30px;
}
.button_header {
    width: 200px;
    height: 60px;
    background-color: #5B6460;
    color: #fff;
    border: none;
}

.header .price {
    position: relative;
    margin-bottom: 150px;
}

.header .price>div {
    position: absolute;
    bottom: 15%;
    left: 10%;
    display: flex;
} 
.price .button_header, .price .button_price  {
    width: 260px;
    height: 100px;
}
.price .button_header {
    font-size: 18px;
    line-height: 20px;
}

.price .button_price {
    background-color: #E9ECE0;
    width: 150px;
    padding-left: 15px;
    padding-top: 25px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
}
.button_price .price_euro {
    font-weight: bold;
    font-size: 20px;
}
.button_price p:last-child {
    padding-left: 20px;
}
/* -----------------  end header ---------------------- */

/* -----------------  The cabins, The forest ---------------------- */

.cabins, .forest {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cabins {
    margin-bottom: 150px;
}  
.cabins .cabins_text, .forest .forest_text{
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cabins .cabins_text h3, .forest .forest_text h3 {
    font-size: 40px;
    color: #5B6460;
    font-weight: lighter;
}
.cabins .cabins_picture .ico, .forest .forest_picture .ico {
    background-size: contain;
    background-repeat: no-repeat;
    height: 440px;
}
.cabins .cabins_picture .ico_cabins {
    background: url(/img/the_cabins.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 440px;
}
.forest .forest_picture .ico_forest {
    background: url(/img/the_cabins.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 440px;
}

.picture {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-bottom: 150px;
}
.picture .ico__picture1 {
    background: url(/img/view1.png);
    width: 432px;
    height: 387px;
}
.picture .ico__picture2 {
    background: url(/img/view2.png);
    width: 432px;
    height: 387px;
}
.picture .ico__picture3 {
    background: url(/img/view3.png);
    width: 432px;
    height: 387px;
}

.forest .forest_text {
background-color: #E9ECE0;
height: 650px;
}
.forest .forest_picture iframe {
    width: 100%;
    height: 100%;
}

/* ----------------- END The cabins, The forest ---------------------- */

/* -----------------  Facilities ---------------------- */

.facilities {
    background-color: #5B6460;
}
.facilities h3 {
 font-size: 40px;
 color: #fff;
 text-align: center;
 padding: 100px 0;
 font-weight: lighter;
}
.facilities .ico {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
}
.facilities .facilities_picture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 80px;
    text-align: center;
    padding: 0 320px 150px;
}
.facilities .facilities_picture>div {
    display: flex;
    justify-content: center;
} 
.facilities .facilities_picture a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}

.facilities .ico_facilities1 {
    background: url(/img/fridge.png);
}
.facilities .ico_facilities2 {
    background: url(/img/kitchen.png);
}
.facilities .ico_facilities3 {
    background: url(/img/coffee.png);
}
.facilities .ico_facilities4 {
    background: url(/img/tea.png);
}
.facilities .ico_facilities5 {
    background: url(/img/park.png);
}
.facilities .ico_facilities6 {
    background: url(/img/trees.png);
}
.facilities .ico_facilities7 {
    background: url(/img/temperature.png);
}
.facilities .ico_facilities8 {
    background: url(/img/plug.png);
}
.facilities .ico_facilities9 {
    background: url(/img/wifi.png);
}
.facilities .ico_facilities10 {
    background: url(/img/shower.png);
}
.facilities .ico_facilities11 {
    background: url(/img/toilet.png);
}
.facilities .ico_facilities12 {
    background: url(/img/towels.png);
}
/* ----------------- END Facilities ---------------------- */

/* ----------------- More about ---------------------- */

.more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin-bottom: 150px;
}
.more .ico_more1, .more .ico_more2 {
    height: 560px;
    width: 100%;
}
.more .ico_more1 {
background: url(/img/more_about_us1.png);
}
.more .ico_more2 {
    background: url(/img/more_about_us2.png);
}
.more .disc {
    position: absolute;
    /* width: 157px;
    height: 157px;
    border-radius: 50%; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(50% - 85px);
    top: calc(50% - 80px);
}
.more .disc a {
    text-decoration: none;
    color: #333333;
    padding: 65px 30px;
    border-radius: 50%;
    background-color: #E9ECE0;
    border-radius: 50%;
}
/* ----------------- END More about ---------------------- */

/* ----------------- Touch ---------------------- */
.touch {
    display: flex;
    margin-bottom: 130px;
}
.touch div {
    margin: 0 auto;
}
.touch h3 {
    font-size: 40px;
    color: #5B6460;
    margin-bottom: 50px;
}
.touch .social {
    display: flex;
}
/* .touch .touch_text {
    width: 50%;
} */
.touch .touch_text p:first-child {
    margin-bottom: 20px;
}
.touch .social a {
    margin-right: 20px;
    margin-top: 50px;
}
.touch .social .ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5B6460;
    display: flex;
    justify-content: center;
    align-items: center;
}
.touch .ico_social1 {
    background: url(/img/instagram_ico.png) no-repeat center;
}
.touch .ico_social2 {
    background: url(/img/facebook_ico.png) no-repeat center;
}
.touch .ico_social3 {
    background: url(/img/twitter_ico.png) no-repeat center;
}

.touch .ico_touch {
    background: url(/img/book_a_hut.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 190px;
}
.touch .price>div {
    display: flex;
}

/* ----------------- END Touch ---------------------- */

/* ----------------- Footer ---------------------- */

footer {
    display: flex;
    background-color: #5B6460;
}
footer > div {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* footer div:first-child {
    width: 50%;
} */
footer > div p {
    font-size: 16px;
    line-height: 20px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
footer .footer_link {
    margin-bottom: 50px;
}
footer .footer_link a {
    text-decoration:  none;
    color: #fff;
    font-size: 14px;
    padding-right: 15px;
    font-weight: lighter;
}
footer .card {
    display: flex;
    justify-content: right;
}
footer .card .ico {
    margin-left: 40px;
}
footer .card .ico_card1 {
    background: url(/img/paypal.png) no-repeat;
    width: 50px;
    height: 50px;
}
footer .card .ico_card2 {
    background: url(/img/mastercard.png) no-repeat;
    width: 50px;
    height: 40px;
}
footer .card .ico_card3 {
    background: url(/img/visa.png) no-repeat;
    width: 50px;
    height: 50px;
}
footer .card .ico_card4 {
    background: url(/img/bank.png) no-repeat;
    width: 32px;
    height: 32px;
}
.email button {
    background-color: #5B6460;
    color: #fff;
    border: none;
}
.email button:hover {
    cursor: pointer;
}
.email input {
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    background-color: #5B6460;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    padding-right: 200px;
}
.email::after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #EFEFEF;
    margin-bottom: 50px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
 }
 input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
 }
 input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
 }
 input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
 }
/* ----------------- END Footer ---------------------- */
